<a href="https://colab.research.google.com/github/NITI244/MFC/blob/main/learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Using the Pandas Python Library

In [27]:
import requests
download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all.elo.csv"

response = requests.get(download_url)
response.raise_for_status() #Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [56]:
import pandas as pd
nba = pd.read_csv("nba_all.elo.csv")
nba

In [34]:
len(nba) #len is number of row

126314

In [33]:
nba.shape #shape is attribute of the DataFrame to see its dimensionality, perform rows and columns

(126314, 23)

In [45]:
nba.head()
#

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN

In [47]:
nba.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

### Getting to know your Data

Displaying Data Types

In [48]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

Showing Basics Statistics

In [57]:
nba.describe() #only analyzes numerical columns
#refer to basic statistics to get an overview of the values each column contain

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [60]:
import numpy as np
nba.describe(include = object) #you can provide other data types if you use the include parameter

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,199302020NYK,NBA,4/17/2013,BOS,Lakers,BOS,Lakers,A,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

### Exploring Your Dataset

In [62]:
nba['team_id'].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
CHI    4307
PHO    4080
ATL    4035
MIL    4034
POR    3870
HOU    3820
CLE    3810
GSW    3701
SEA    3547
SAS    3515
IND    3364
DEN    3312
UTA    3145
DAL    3013
NJN    2939
LAC    2563
SAC    2488
MIA    2371
ORL    2207
MIN    2131
WSB    1992
TOR    1634
WAS    1475
CIN    1230
MEM    1197
PHW    1179
CHH    1164
STL    1121
SYR    1111
MNL     946
BAL     866
INA     863
KEN     846
KCK     846
CHA     812
SFW     777
NOH     758
NYA     736
BUF     678
FTW     665
ROC     659
OKC     631
DNR     614
VIR     536
UTS     499
SDC     492
BLB     467
VAN     460
CAR     440
DLC     433
NOJ     410
SDR     334
WSC     291
INO     282
MLH     281
SAA     272
BRK     271
NOB     268
SDA     263
CHS     260
KCO     252
STB     249
DNA     194
LAS     179
SSL     178
FLO     178
PTP     177
MMF     174
MMP     172
OAK     172
PRO     168
NOP     168
PTC     168
MMT     168
NOK     164
HSM     159
TRI     135
WSA      91
MMS      89
CAP      89
TEX      89
MNM      88
MNP      85
CHO      82
NYN      82
CHZ      80
CHP      80
ANA      78
NJA      78
AND      72
SHE      65
CLR      63
DNN      62
WAT      62
PIT      60
TRH      60
DTF      60
INJ      60
SDS      11
Name: team_id, dtype: int64

In [63]:
nba['fran_id'].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Denver            62
Waterloo          62
Huskies           60
Jets              60
Ironmen           60
Falcons           60
Name: fran_id, dtype: int64

In [65]:
nba.loc[nba['fran_id'] == 'Lakers', 'team_id'].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [72]:
#you can use the min and max aggregate functions, 
#to find the first and last games of Minneapolis Lakers
nba['date_played'] = pd.to_datetime(nba['date_game'])
nba.loc[nba['team_id'] == 'MNL', 'date_played'].min()

nba.loc[nba['team_id'] == 'MNL', 'date_played'].max()

nba.loc[nba['team_id'] == 'MNL', 'date_played'].agg(('min', 'max'))

min   1948-11-04
max   1960-03-26
Name: date_played, dtype: datetime64[ns]

In [77]:
revenues = pd.Series([5555,7000,1980]) #[] as list to create a Series object called revenues
revenues
revenues.values #returns the values in the Series

array([5555, 7000, 1980])

In [79]:
revenues.index #acces to index data, return the position index

RangeIndex(start=0, stop=3, step=1)